


.each_item {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.image {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
img {
  width: 40px;
  height: 40px;
}
